*{
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
}

input{
    font-family: 'Poppins', sans-serif;
    margin: 4px;
}

.main-input{
    display: block;
    font-family: 'Poppins', sans-serif;
    margin: 0px auto;
    width: 30%;
    margin-top: 150px;
    padding: 20px;
}

.main-input input{
    display: block;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    width: 100%;
}

.main-btn{
    margin-top: 10px;
}

.main-btn input:hover{
    background-position: right;
    cursor: pointer;
    transition: 0.3s;
    color: blue;
}