body{
    margin: 0 auto;
    padding: 0;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
}

.container{    
    padding: 10px;
    display: flex;
    justify-content: space-between; 
}

.container.mdc-top-app-bar__row{
    align-items: center;
}

.temperature-chart{
    width: 30%;
}

i{
    font-family: 'Poppins', sans-serif;
}

.container.top{
    margin-top: 70px;
}

.container.headings{
    margin-top: 10px;
    justify-content: start;
}

.container.devices{
    margin-top: 0;
}

.device-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 3;
    width: 50%;
    height: 50%;
}

.current-status, .temp-status-div{
    font-size: small;
}
a{
    font-size: small;
}

h4{
    margin: 0;
    padding: 0;
}

.temp-status-div-date{
    margin-right: 15px;
}

.temp-status-div-temp{
    text-align: end;
}

.active-device-flex-list{
    display: block;
}

.btn-status,.running-time{    
    font-size: smaller;
    text-align: start;
    margin-left: 10px;
}

.device-item-div{
    display: flex;
    justify-content: start;
    padding: 0;
    margin-bottom: 10px;
}

.device-item-running-time{
    align-items: center;
    font-size: small;
    display: flex;
    justify-content: start;
    padding: 0;
}

.device-item{      
    margin-top: 10px;     
    min-width: 120px;     
    margin-right: 10px;
    padding: 10px;
    width: auto;
    min-height: 80px;
    height:auto;
    background-color: #fcfcfc;
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
        -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
        -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
        -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    border-radius:20px;
}
.temp-status-div{
    display: flex;    
    padding: 10px;
    width: auto;
    padding-left: 15px;
    height:auto;
    background-color: #eed;
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
        -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
        -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
        -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    border-radius:20px;
}

button{
    background: #ff8a65;
    color: #fff;
    border-style: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
  }
  
button:hover{
    background: #cccccc;
    color: #000;
    cursor: pointer;
}